@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-base-300;
    --rounded-box: 1rem;
    --rounded-btn: 0.25rem;
    --rounded-badge: 1rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.9;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
  }

  html,
  body {
    @apply h-full;
  }

  html {
    font-family: "Rubik Variable", sans-serif;
  }

  input,
  textarea {
    @apply placeholder-base-content placeholder-opacity-50;
  }
}

@layer utilities {
  .btn {
    @apply font-normal shadow-none;
  }
}
